.table {
  margin-top: 20px;
  overflow: scroll;
  color: #ccc8c8;
  background-color: #424242;
  height: 400px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  background-color: #616161;
}
